@page "/hero"
@using Salt.Stars.Web.Models
@using Salt.Stars.Web.Services
@inject IHeroApiClient HeroApiClient
@if (ErrorMessage is not null)
{
  <PageTitle>404 - Hero not found!</PageTitle>
  <h2>Hero was not found!</h2>
  <small>@ErrorMessage</small>
}
else if (Hero is null)
{
  <PageTitle>Loading...</PageTitle>
  <p><em>Loading...</em></p>
}
else
{
  <PageTitle>@Hero.Name</PageTitle>

  <div class="headerContainer">
    <h2 class="display-5" id="mainHeader">@Hero.Name</h2>
  </div>

  <div class="herobox">
    <table class="table">
      <tbody>
        <tr>
          <td>Name:</td>
          <td>@Hero.Name</td>
        </tr>
        <tr>
          <td>Weight:</td>
          <td>@(Hero.Weight != 0 ? Hero.Weight + "kg" : "unknown")</td>
        </tr>
        <tr>
          <td>Height:</td>
          <td>@(Hero.Height != 0 ? Hero.Height + "cm" : "unknown")</td>
        </tr>
        <tr>
          <td>Birth Year:</td>
          <td>@Hero.BirthYear</td>
        </tr>
        <tr>
          <td>Star count:</td>
            <td>
              <svg @onclick="() => SetStarRating(Hero.Id, 1)" version="1.1" class="star" viewBox="0 0 47.94 47.94" xml:space="preserve">
                        <path style=@GetStyleRating(1) d="M26.285,2.486l5.407,10.956c0.376,0.762,1.103,1.29,1.944,1.412l12.091,1.757
		                c2.118,0.308,2.963,2.91,1.431,4.403l-8.749,8.528c-0.608,0.593-0.886,1.448-0.742,2.285l2.065,12.042
		                c0.362,2.109-1.852,3.717-3.746,2.722l-10.814-5.685c-0.752-0.395-1.651-0.395-2.403,0l-10.814,5.685
		                c-1.894,0.996-4.108-0.613-3.746-2.722l2.065-12.042c0.144-0.837-0.134-1.692-0.742-2.285l-8.749-8.528
		                c-1.532-1.494-0.687-4.096,1.431-4.403l12.091-1.757c0.841-0.122,1.568-0.65,1.944-1.412l5.407-10.956
		                C22.602,0.567,25.338,0.567,26.285,2.486z" />
                    </svg>
              
              <svg @onclick="() => SetStarRating(Hero.Id, 2)" version="1.1" class="star" viewBox="0 0 47.94 47.94" xml:space="preserve">
                        <path style=@GetStyleRating(2) d="M26.285,2.486l5.407,10.956c0.376,0.762,1.103,1.29,1.944,1.412l12.091,1.757
		                c2.118,0.308,2.963,2.91,1.431,4.403l-8.749,8.528c-0.608,0.593-0.886,1.448-0.742,2.285l2.065,12.042
		                c0.362,2.109-1.852,3.717-3.746,2.722l-10.814-5.685c-0.752-0.395-1.651-0.395-2.403,0l-10.814,5.685
		                c-1.894,0.996-4.108-0.613-3.746-2.722l2.065-12.042c0.144-0.837-0.134-1.692-0.742-2.285l-8.749-8.528
		                c-1.532-1.494-0.687-4.096,1.431-4.403l12.091-1.757c0.841-0.122,1.568-0.65,1.944-1.412l5.407-10.956
		                C22.602,0.567,25.338,0.567,26.285,2.486z" />
                    </svg>
              <svg @onclick="() => SetStarRating(Hero.Id, 3)" version="1.1" class="star" viewBox="0 0 47.94 47.94" xml:space="preserve">
                        <path style=@GetStyleRating(3) d="M26.285,2.486l5.407,10.956c0.376,0.762,1.103,1.29,1.944,1.412l12.091,1.757
		                c2.118,0.308,2.963,2.91,1.431,4.403l-8.749,8.528c-0.608,0.593-0.886,1.448-0.742,2.285l2.065,12.042
		                c0.362,2.109-1.852,3.717-3.746,2.722l-10.814-5.685c-0.752-0.395-1.651-0.395-2.403,0l-10.814,5.685
		                c-1.894,0.996-4.108-0.613-3.746-2.722l2.065-12.042c0.144-0.837-0.134-1.692-0.742-2.285l-8.749-8.528
		                c-1.532-1.494-0.687-4.096,1.431-4.403l12.091-1.757c0.841-0.122,1.568-0.65,1.944-1.412l5.407-10.956
		                C22.602,0.567,25.338,0.567,26.285,2.486z" />
                    </svg>
              <svg @onclick="() => SetStarRating(Hero.Id, 4)" version="1.1" class="star" viewBox="0 0 47.94 47.94" xml:space="preserve">
                        <path style=@GetStyleRating(4) d="M26.285,2.486l5.407,10.956c0.376,0.762,1.103,1.29,1.944,1.412l12.091,1.757
		                c2.118,0.308,2.963,2.91,1.431,4.403l-8.749,8.528c-0.608,0.593-0.886,1.448-0.742,2.285l2.065,12.042
		                c0.362,2.109-1.852,3.717-3.746,2.722l-10.814-5.685c-0.752-0.395-1.651-0.395-2.403,0l-10.814,5.685
		                c-1.894,0.996-4.108-0.613-3.746-2.722l2.065-12.042c0.144-0.837-0.134-1.692-0.742-2.285l-8.749-8.528
		                c-1.532-1.494-0.687-4.096,1.431-4.403l12.091-1.757c0.841-0.122,1.568-0.65,1.944-1.412l5.407-10.956
		                C22.602,0.567,25.338,0.567,26.285,2.486z" />
                    </svg>
              <svg @onclick="() => SetStarRating(Hero.Id, 5)" version="1.1" class="star" viewBox="0 0 47.94 47.94" xml:space="preserve">
                        <path style=@GetStyleRating(5) d="M26.285,2.486l5.407,10.956c0.376,0.762,1.103,1.29,1.944,1.412l12.091,1.757
		                c2.118,0.308,2.963,2.91,1.431,4.403l-8.749,8.528c-0.608,0.593-0.886,1.448-0.742,2.285l2.065,12.042
		                c0.362,2.109-1.852,3.717-3.746,2.722l-10.814-5.685c-0.752-0.395-1.651-0.395-2.403,0l-10.814,5.685
		                c-1.894,0.996-4.108-0.613-3.746-2.722l2.065-12.042c0.144-0.837-0.134-1.692-0.742-2.285l-8.749-8.528
		                c-1.532-1.494-0.687-4.096,1.431-4.403l12.091-1.757c0.841-0.122,1.568-0.65,1.944-1.412l5.407-10.956
		                C22.602,0.567,25.338,0.567,26.285,2.486z" />
              </svg>
            </td>
        </tr>
      </tbody>
    </table>
    <div class="heroFooter">
      <span>Requested at @HeroResponse?.RequestedAt</span>
    </div>
  </div>
}

@code {
  [Parameter, SupplyParameterFromQuery]
  public int Id { get; set; }

  public HeroResponse? HeroResponse { get; set; }
  public string? ErrorMessage { get; set; }
  public Hero? Hero { get; set; }
  public string GetStyleRating(int rated) => rated <= Hero.StarRating ? "fill:#ED8A19;" : "stroke:gray; fill:none;";

  public StarUpdateResponse StarUpdateResponse {get; set;}
  public StarUpdateRequest StarUpdateRequest {get; set;}
  public async Task SetStarRating(int HeroId, int starAmount)
  {
    try
    {
      var StarUpdateResponse = await HeroApiClient.UpdateStars(HeroId, starAmount);
      Hero.StarRating = starAmount;
    }
    catch (Exception ex)
    {
      ErrorMessage = $"Could not set the star rating for the hero ({ex.Message})";
    }
  }

  protected override async Task OnInitializedAsync()
  {
    try
    {
      HeroResponse = await HeroApiClient.GetHero(Id);
      Hero = HeroResponse?.Hero;
    }
    catch (Exception ex)
    {
      ErrorMessage = $"Could not retrieve the hero ({ex.Message})";
    }
  }
}
